.common-table-header {
    font-weight: bold;
    color: #303133;
    border-bottom-color: #C0C4CC!important;
}
.common-table-cell {
    color: #303133;
}
.b500 {
    font-weight: 500;
}
.cp {
    cursor: pointer;
}
.c666 {
    color: #666;
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.mt12 {
    margin-top: 12px;
}
.mt20 {
    margin-top: 20px;
}
.mb12 {
    margin-bottom: 12px;
}
.ml12 {
    margin-left: 12px;
}
.ml20 {
    margin-left: 20px;
}
.mr12 {
    margin-right: 12px;
}