.common-table-header {
    font-weight: bold;
    color: #303133;
    border-bottom-color: #C0C4CC!important;
}
.common-table-cell {
    color: #303133;
}
.b500 {
    font-weight: 500;
}
.cp {
    cursor: pointer;
}
.c666 {
    color: #666;
}

.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}

.mt4 {
    margin-top: 4px;
}

.mt12 {
    margin-top: 12px;
}
.mt20 {
    margin-top: 20px;
}
.mb12 {
    margin-bottom: 12px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml12 {
    margin-left: 12px;
}
.ml20 {
    margin-left: 20px;
}
.mr6 {
    margin-right: 6px;
}
.mr12 {
    margin-right: 12px;
}

.flex {
    display: flex;
}

.br2{
    border-radius: 2px;
}
.br4{
    border-radius: 4px;
}
.br6{
    border-radius: 6px;
}
.br8{
    border-radius: 8px;
}
.br10{
    border-radius: 10px;
}

.otw {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
}