/* global styles */

.text_nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ck-editor__main, .ck-editor, .ck-content {
  height: 100% !important;
}
.ck-toolbar {
  border: 1px solid #f1f1f1 !important;
}
.ck-focused,.ck-content{
  border: none !important;
  box-shadow: none !important;
}

#v_empty {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-bottom: 30%;
  img {
    width: 100px;
    height: 100px;
  }
}